<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>716539743857-6lpcguu43srb9sfjbnsmu4immac36qld.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.716539743857-6lpcguu43srb9sfjbnsmu4immac36qld</string>
	<key>API_KEY</key>
	<string>AIzaSyBU1QhP-Leyn1sP369gjHFE-sdtw46VL5U</string>
	<key>GCM_SENDER_ID</key>
	<string>716539743857</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.approyal</string>
	<key>PROJECT_ID</key>
	<string>approyalserver</string>
	<key>STORAGE_BUCKET</key>
	<string>approyalserver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:716539743857:ios:8596fc45da934cfc88d5d0</string>
</dict>
</plist>